<div class="container">
	<div class="row my-4 text-center">
		<div class="col col-lg-12 col-md-6 col-md-3">
			<h1>Buscar personas</h1>				
		</div>
	</div>
	<div class="row my-4">
		<h5>Todas las personas</h5>
		<div class="col col-lg-12 col-md-6 col-sm-3">
			<table class="table table-responsive table-striped" style="position: relative;height: 400px;overflow: auto;display: block;">
				<thead>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col"># activo fijo</th>
					<th scope="col"># ciudad</th>
				</thead>
				<tbody>
					<tr *ngFor="let p of personas">
						<td>{{p.persId}}</td>
						<td>{{p.persNombres}}</td>
						<td>{{p.persApellidos}}</td>
						<td>{{p.persActivofijo}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>