<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar bg-light">
  <a class="navbar-brand" href="#"><img src="../../assets/img/icoGrupoASD.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/inicio">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buscarActivos">Buscar Activos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crearActualizarActivo">Crear/actualizar Activos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Buscar áreas</a>        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Buscar personas</a>
      </li>      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
